/*
 $Id: foursquretips.module,v 1.0$
*/
#tipscontainer {
    border: 1px solid gray;
    font-size: 11px;
    font-weight: normal;
    height: 300px;
    overflow-y: scroll;
    padding: 5px;
    min-width: 198px;
    width: auto;
}
#tips{

}
#tipsimage {
    float: left;
    height: 32px;
    margin: 0 10px 10px 0;
    width: 32px;
    padding-top:5px;
}
#tipscontent {
    width: auto;
    min-width: 139px;
    display: table-cell;
}
#tipscontent span{
    color: gray;
    font-size: 9px;
}
#fsquare{
    background-image:url('images/fsquare-logo.png');
    background-repeat:no-repeat;
    height:36px;
    width:120px;
    float:right;
}
.tipsimage{
    width:32px;
    height:32px;
}

.vname{
    color: #d7568c;
    font-weight: bold;
    font-size: 12px;
    margin: 0px;

}
.clear {
    clear: both;
}


